.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url('https://images.unsplash.com/photo-1515169067865-5387ec356754') center/cover;
}


.category-card {
  border: none;
  border-radius: 16px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  cursor: pointer;
  transition:all 0.5s;
  min-height: 120px;
}

.category-card:hover {
  background: linear-gradient(135deg, #0d6efd, #6610f2);
  color: white;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.product-card {
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}
